$colors: (
  primary: (
    30: hsl(225, 100%, 30%),
    50: hsl(225, 100%, 50%),
    70: hsl(225, 100%, 70%)
  ),
  neutral: (
    10: hsl(0, 0%, 10%),
    45: hsl(0, 0%, 45%),
    90: hsl(0, 0%, 90%)
  )
);